src/flows/Resolve_Case.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Case_Values</name>
        <label>Assign Case Values</label>
        <locationX>621</locationX>
        <locationY>69</locationY>
        <assignmentItems>
            <assignToReference>Case.Resolution_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Resolution_Catgeory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Resolution_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Resolution_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <description>Resolve Support Cases</description>
    <dynamicChoiceSets>
        <name>ResolutionCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Resolution_Category__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Resolve Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resolve Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>817</locationX>
        <locationY>69</locationY>
        <connector>
            <targetReference>Case_Success</targetReference>
        </connector>
        <inputReference>Case</inputReference>
    </recordUpdates>
    <screens>
        <name>Case_Success</name>
        <label>Case Success</label>
        <locationX>1002</locationX>
        <locationY>69</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Case Resolved!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Resolve_Case</name>
        <label>Resolve Case</label>
        <locationX>451</locationX>
        <locationY>69</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <fields>
            <name>Resolution_Catgeory</name>
            <choiceReferences>ResolutionCategory</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Resolution Catgeory</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Resolution_Description</name>
            <fieldText>Resolution Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px;&quot;&gt;Visible to Customers&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Resolve_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
